.loginContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
    color: #E5E4E5;
}

.loginSection {
    width: 45%;
    height: auto;
    border: 1px solid #4e4e4e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.guestLogin {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
    font-size: 25px;
}

.logo img {
    width: 45px;
    height: 45px;
    width: 100%;
    border-radius: 5px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 50%;
    margin-top: 50px;
    gap: 15px;
    font-size: 20px;
}

.loginButtonContainer {
    margin-top: 25px;
    margin-bottom: 25px;
}

.loginButtonContainer .loginButton {
    width: 100%;
    background-color: #DE4D4B;
    border-radius: 20px;
    margin-bottom: 10px;
}

.loginButtonContainer .cancelButton {
    width: 100%;
    margin-bottom: 10px;
}

.loginButtonContainer .loginButton:hover {
    background-color: #E26464;
}

a {
    color: #DE4D4B;
}

a:hover {
    color: #E26464;
    text-decoration: none;
}

.errorMessage {
    color: red;
}

@media(max-width: 1500px) {
    .loginSection {
        width: 50%;
    }
}

@media(max-width: 1200px) {
    .loginSection {
        width: 60%;
    }
}

@media(max-width: 1200px) {
    .loginSection {
        width: 65%;
    }
}

@media(max-width: 700px) {
    .loginSection {
        width: 70%;
    }
}

@media(max-width: 500px) {
    .loginSection {
        width: 80%;
    }

    .loginButtonContainer .loginButton {
        font-size: 15px;
        padding: 8px;
    }

    .forgotPassword {
        font-size: 15px;
    }

    .inputContainer {
        font-size: 15px;
    }
}

@media(max-width: 400px) {
    .loginSection {
        width: 90%;
    }
}