.projectTile {
    display: flex;
    width: 100%;
    align-items: center;
}

.projectTileButtonContainer {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
}

.projectTileButtonContainer>button {
    background-color: transparent;
    margin-left: 10px;
}

.projectTilesButton {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    text-align: left;
    padding: 10px;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

.projectTile:hover {
    background-color: #332F2B;
}

.projectTileButtonContainer>button:hover {
    background-color: transparent;
}

@media(max-width: 1075px) {
    .projectTileButtonContainer {
        width: auto;
    }
}