.todoContainer {
    display: flex;
    height: 100vh;
}

.todoListContainer {
    padding: 25px 50px 50px 50px;
    color: #E5E4E5;
    width: 75%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.sideBar {
    width: 20%;
    height: 100vh;
    background-color: #262626;
    z-index: 500;
    /* Ensure sidebar is above other content but below navbar */
}

.navBar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    /* Ensure navbar is on top */
    background-color: #262626;
    /* Add background color to navbar */
    padding: 0;
    display: none;
    /* Hide navbar by default */
}

.navBar.open {
    display: block;
    /* Show navbar when open */
}

.todoList {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    /* Hides the scrollbar in Firefox */
    -ms-overflow-style: none;
    /* Hides the scrollbar in IE & Edge */
}


@media (max-width: 900px) {
    .todoContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        height: 100vh;
    }

    .todoListContainer {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .todoContainer {
        display: flex;
        width: 100%;
        justify-content: center;
        height: 100vh;
    }

    .todoListContainer {
        width: 90%;
    }
}