.sectionContainer {
    background-color: #1E1E1E;
    color: #FEFEFF;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
    margin-top: 25px;
}

ul {
    list-style: none;
}

.title {
    font-weight: 100;
    margin: 0;
}

.sectionTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sectionTitle .sectionTitleButton {
    background-color: #1E1E1E;
    font-size: 25;
    color: #6b6e6e;
    border-radius: 0;
    transition: border 0.5s ease-in;
}

.sectionTitle .sectionTitleButton:hover {
    color: #989b9b;
    border-radius: 0px;
    outline: none;
}

.actionButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
}

@media (max-width: 1220px) {
    .sectionTitle>h2 {
        font-size: 22px;
        margin: 0;
    }
}

@media (max-width: 900px) {
    .sectionTitle>h2 {
        font-size: 20px;
        margin: 0;
    }
}

@media (max-width: 600px) {
    .sectionTitle>h2 {
        font-size: 18px;
        margin: 0;
    }
}

@media (max-width: 450px) {
    .sectionTitle>h2 {
        font-size: 16px;
        margin: 0;
    }
}

@media (max-width: 400px) {
    .sectionTitle>h2 {
        font-size: 14px;
        margin: 0;
    }
}