.resetPasswordInputContainer>form {
    width: 100%;
}

.resetPasswordInputContainer>form>input {
    width: 100%;
}

.resetPasswordButtonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 1%;
}

.resetPasswordButton {
    background-color: #DE4D4B;
}

.resetPasswordButton:hover {
    background-color: #E26464;
}

.resetPasswordTitle {
    color: #FEFEFF;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 25px;
}