.resetPasswordInputContainer>form {
    width: 100%;
}

.resetPasswordInputContainer>form>input {
    width: 100%;
}

.resetPasswordButtonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 1%;
}

.resetPasswordButton {
    background-color: #DE4D4B;
}

.resetPasswordButton:hover {
    background-color: #E26464;
}

.resetPasswordTitle {
    color: #FEFEFF;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 25px;
}

@media(max-width: 900px) {

    .resetPasswordTitle {
        font-size: 20px;
    }

    .resetPasswordButton {
        font-size: 20px;
    }

    .resetPasswordInputContainer>form>input {
        padding: 5px;
        font-size: 16px;
    }

    .resetPasswordButtonContainer>button {
        padding: 10px;
        font-size: 14px;
    }
}

@media(max-width: 600px) {

    .resetPasswordTitle {
        font-size: 18px;
    }

    .resetPasswordButton {
        font-size: 18px;
    }

    .resetPasswordInputContainer>form>input {
        padding: 5px;
        font-size: 14px;
    }

    .resetPasswordButtonContainer>button {
        padding: 10px;
        font-size: 12px;
    }
}

@media(max-width: 400px) {

    .resetPasswordTitle {
        font-size: 16px;
    }

    .resetPasswordButton {
        font-size: 16px;
    }

    .resetPasswordInputContainer>form>input {
        padding: 5px;
        font-size: 12px;
    }

    .resetPasswordButtonContainer>button {
        padding: 10px;
        font-size: 12px;
    }
}